$grid-area: hsla(48, 2%, 56%, 0.2);
$grid-line: hsla(49, 100%, 58.2%, 1.0); 
$grid-cell: hsla(49, 100%, 58.2%, 0.5);

$primary: hsla(296, 91%, 63%, 1.0);
$primary-variant: hsla(266, 91%, 63%, 1.0);
$primary-variant-500: hsla(263, 90%, 60%, 1.0);
$primary-variant-900: hsla(260, 88%, 54%, 1.0);
$secondary: hsla(116, 91%, 40%, 1.0);
$secondary-variant: hsla(146, 91%, 30%, 1.0);

$on-primary: hsla(0, 0%, 100%, 1.0);
$on-secondary: hsla(0, 0%, 0%, 1.0);
$on-surface: hsla(208, 0%, 0%, 0.85);
$on-surface-variant: hsl(208, 37%, 15%, 1.0);