@import './color.scss';
@import './fonts.scss';
@import './mixins.scss';

.grid-container {
  display: grid;
  &.show * {
    @include sizeless-border($grid-line);
    &:hover {
      background-color: $grid-area;
    }
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  padding: 8px 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-family: PlayfairDisplay, serif;
  font-size: 3.75em;
  color: $on-surface;

  p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.5em;
  }

  & + h6 {
    margin-bottom: 8px;
  }
}

h2 {
  font-family: PlayfairDisplay-Smallcaps, serif;
  font-size: 2.125em;

  span {
    &.italicized {
      font-family: PlayfairDisplay-Italic, serif;
      font-style: italic;
    }

    &.regular {
      font-weight: 400;
    }

    &.black {
      font-weight: 900;
    }
  }
}

p {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: $on-surface-variant;
}

a {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: $primary-variant;
  text-decoration: none;
  &:hover {
      color: $primary-variant-900;
  }
  &:visited {
    color: $primary-variant;
    &:hover {
      color: $primary-variant-900;
    }
  }
}

select {
  font-family: Raleway, sans-serif;
  font-size: 1em;
  font-weight: 400;
}
