@import './color.scss';
@import './fonts.scss';

.grid-container {
  display: grid;

  &.show:hover {
    background-color: $grid-area;
  }
}

.grid-item {
  &.show {
    border: 1px solid $grid-line;

    &:hover {
      background-color: $grid-cell;
    }
  }
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-family: PlayfairDisplay, serif;
  font-size: 3.75em;

  p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.5em;
  }

  &+h6 {
    margin-bottom: 8px;
  }
}

h2 {
  font-family: PlayfairDisplay-Smallcaps, serif;
  font-size: 2.125em;

  span {
    &.italicized {
      font-family: PlayfairDisplay-Italic, serif;
      font-style: italic;
    }

    &.regular {
      font-weight: 400;
    }

    &.black {
      font-weight: 900;
    }
  }
}

p {
  font-family: Raleway, sans-serif;
  font-size: 1em;
}
